* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  overflow: auto;
  font-family: 'Roboto', sans-serif;
}
a{ 
  text-decoration: none;
  color: black;
}
ul{ 
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav {
  display: flex;
  text-align: justify;
  height: 45px;
  width: 100%;
  position: fixed;
  overflow: hidden;
  z-index: 1;
  top: 0;
  left: 0;
  box-shadow: 0px 5px 15px 2px #888888;
  background: violet;
  background: salmon;
  background: lightgreen;
  background: cornflowerblue;
  transition: 0.5s;
}
.navlist{
  display:block;
  margin: auto; 
  width: 50%;
  position: relative;
  list-style: none;
}
.navlinks {
  display: inline-block;
  height: 60px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 12px 8px 8px 8px;
  opacity: 0;
  transition: 0.3s;
}
.social{
  height: 30px;
  width: 30px;
}
.pagelinks{
  padding: 16px;
}
.visible{
  opacity: 1;
}
.nav li:hover, li:focus {
  background-color: #F46B23;
}
#menu {
  display:block;
  list-style: none;
  padding: 12px 32px;
}
.navdown {
  height: 170px;
}
.title{
  text-align: center;
  font-size: 60px;
  font-weight: 500;
  line-height: 82px;
}
.subtitle{
  font-weight: 300;
  color: grey;
}
.projectlist{
  display: block;
  text-align: left;
  padding: 0;
  list-style: none;
}
.project{
  display: block;
  width: 100%;
  margin: 30px 5px;
  border-bottom: 1px solid #000000;
}

.project a:hover{
  color: #F46B23;;
}
.projecthead{
  width: 100%;
  position: relative;
  display: inline-block;

}
.projecthead h4{
  display: inline;
  width: 50%;
}
.projecthead img{
  float: right;
  width: 25px;
  height: 25px;
  right: 0;
}
.projectdesc, .projectdesc p{
  padding: 10px 0;
}

#content {
  width: 90%;
  margin: auto;
  margin-top: 80px;
  min-height: 500px;
}
#top {
 height: auto;
  width: 100%;
  margin: auto;
}
#bottom {
  width: 100%;
  font-size: 18px;
  margin: 30px 5px;
}

@media screen and (min-width: 800px) {
    #menu {
      display: none;
    }
    .nav {
      height: auto; 
      position: fixed;
    }
    .navlist{ 
      display: flex; 
      max-width: 150px;
    }
    .navlinks{
      padding: 18px;
      opacity: 1;
    }
    #content{ 
      max-width: 500px;
    }
    #top{
      text-align: center;
    }

}
