* {
    box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: #ccffff;
  margin: 0;
}
img{
  height: 100px;
  width: 100px;

}

.nav {
  display: flex;
  text-align: justify;
  height: 0;
  width: 100%;
  position: fixed;
  overflow: hidden;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: yellow;
  border-bottom: 4px solid yellow;
  transition: 0.7s;
}
.nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  display: block;
  color: black;
  transition: 0.3s;
}
#links{
  width: 50%;
  position: relative;
  display: block;
}
#navcontact{
  text-align: right;
  width: 50%;
  position: relative;
  display: block;
}
.nav a:hover a:focus {
  color: #00BCD4;
}
#contactcard{
  list-style: none;
  margin: 4%;
  border: 2px solid #ffd9b3;
}
#contactcard ul{
  padding: 0;
  list-style: none;
}
.closed{
  overflow: hidden;
  max-height: 0;
}
.expanded{
  /*make this the height of the largest projectdesc
  or accept spaces in other projectdesc*/

  max-height: 750px;

}
.navdown {
  height: 140px;
}
.title{
  margin-top: 10%;
  font-weight: 500;
}
.subtitle{
  font-weight: 300;
  color: grey;
}
.projects{
  display: block;
  text-align: left;
  padding: 0;
  list-style: none;
}
.projectcard{
  display: block;
  width: 100%;
  margin: 5px;
  padding: 10px;
}
.projectcard:hover{
  border: 1px solid gray;
  box-shadow: 0px 1px 2px 0px;
}
.projectheader{
  display: flex;
  position: relative;
  width: 100%;
}
.projecttitle{
  display: block;
  position: relative;
  width: 80%;
  font-weight: 500;
  text-align: center;
}
.projectimage{
  display: block;
  position: relative;
  margin-top: auto;
}
.projectdesc{
  width: 100%;
  z-index: 1;
  overflow: hidden;
  transition: 0.7s;
}

#arrow{
  width: 0;
  height: 0;
  margin: auto;
  margin-top: -12px;
  border-style: solid;
  border-width: 30px 30px 0 30px;
  border-color: yellow transparent transparent transparent;
}
#content {
  margin: auto;
  text-align: center;
  padding: 3%;
}

#top {
  width: 100%;
  border-bottom: 2px solid #ffd9b3;
  margin: auto;
}

#bottom {
  height: 70%;
  width: 100%;
  margin: auto;
}
#navbutton{
display: inline;

}


@media screen and (min-width: 800px) {
    .nav {height: auto; position: fixed;}
    .nav a {  display: inline-block;}
    #arrow{display: none;}
    img{height: 150px; width: 150px;}
    #content{width: 70%;}
}
